<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Title</title>

    <style>
.center {
  margin: auto;
    height: 60%;
    margin-top: 10%;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 50px;
}
</style>
</head>
<body>
<div class = 'center'>
    <h4>Enter car</h4>
    <form class = çontact_form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputBrand">Car brand</label>
        <input type="text" class="form-control-sm" name="car_brand" aria-describedby="emailHelp" placeholder="Enter car brand">
      </div>
      <div class="form-group">
        <label for="exampleInputModel">Car model</label>
        <input type="text" class="form-control-sm" name="car_model" placeholder="Enter car model">
      </div>

        <div class="form-group">
        <label for="exampleInputHP">Car horsepower</label>
        <input type="number" class="form-control-sm" name="car_hp" placeholder="Horsepower">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>